CREATE OR REPLACE FUNCTION __tmp_create_user() returns void as $$
BEGIN
  IF NOT EXISTS (
          SELECT
          FROM   pg_catalog.pg_user
          WHERE  usename = '{{ postgres_exporter_user }}') THEN
    CREATE USER {{ postgres_exporter_user }};
  END IF;
END;
$$ language plpgsql;

SELECT __tmp_create_user();
DROP FUNCTION __tmp_create_user();

ALTER USER {{ postgres_exporter_user }} WITH PASSWORD '{{ data_source_password }}';
ALTER USER {{ postgres_exporter_user }} SET SEARCH_PATH TO {{ postgres_exporter_user }},pg_catalog;
GRANT CONNECT ON DATABASE postgres TO {{ postgres_exporter_user }};
